<div class="siteheader">
    <section class="menu">
        <ul>
            <li class="todolist_btn"><div class="btn"><p>ToDoList</p></div>
                <div class="todolist abs">
                    <div>                            
                        <form action="actions.php" method="post" name="f1n" id="f1i" enctype="multipart/form-data">
                            <input type="text" value="" name="date" id="date" placeholder="0000-00-00 00:00:00"/><br/>
                            <textarea name="intro" id="intro" placeholder="Short intro..."></textarea><br/>
                            <textarea name="content" id="content" placeholder="Content..."></textarea>
                        </form>
                    </div>
                </div>
            </li><li><div class="btn"><p>New event</p></div>
            </li><li class="last"><div class="btn"><p>Sql command</p></div>
            </li>
        </ul>
    </section>
    <section class="days">
        <ul>
            <li>Hétfő</li><li>Kedd</li><li>Szerda</li><li>Csütörtök</li><li>Péntek</li><li>Szombat</li><li>Vasárnap</li>
        </ul>
    </section>
</div>