<div class="calendar">
    <div class="week"
         *ngFor="let week of calendarData.data">
        <div class="day"
             *ngFor="let day of week.days"
             [ngClass]="{'evented': (day.events.length > 0), 'today': (day.date == today)}"
             (click)="OpenDay(day)">
            <div class="header">
                <p>{{day.date}}</p>
            </div>
            <div class="body">
                <ul class="events">
                    <li title="{{event.content}}"
                        *ngFor="let event of day.events">{{event.intro}}</li>
                </ul>
            </div>
            <div class="closer"></div>
        </div>
    </div>

    <div class="day-edit-window"
         [ngClass]="{'hidden': (selectedDay.date == null)}">

        <div class="header">
            <div class="btn float-right"
                 (click)="CloseDay()">X</div>
            <p>{{selectedDay.date}}</p>
        </div>

        <div class="events">
            <div class="event"
                 *ngFor="let event of selectedDay.events">
                <div class="ib date"><input type="text" [(ngModel)]="event.date" name="date" /></div>
                <div class="ib description"><input type="text" [(ngModel)]="event.intro" name="intro" /></div>
                <div class="ib content"><input type="text" [(ngModel)]="event.content" name="content" /></div>
                <div class="btn"
                     (click)="DeleteEvent(event)">Delete</div>
            </div>
            <div class="btn"
                 (click)="AddNewEvent()">+</div>
        </div>

        <div class="footer">
            <div class="btn"
                 (click)="SaveDay()">Mentés</div>
            <div class="btn"
                 (click)="CancelDay()">Mégse</div>
        </div>

    </div>

</div>
